@using YunusExpress_MVC.Models
@using YunusExpress_MVC.ViewModels
@model OrderCreateVm

@{
    Layout = null;
    ViewData["Title"] = "Yeni Sifariş Yarat";
}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Yeni Sifariş</title>
  <link href="~/assets/style/newOrder.css" rel="stylesheet">
    <link href="~/assets/favicon.ico" rel="icon" />
</head>


<body>
  <h1>Yeni Sifariş</h1>
  <div class="container">
        <form method="post" id="order-form">
      <div class="vcontainer">
        <div class="form-heading">
          <div class="rows" style="display:flex;flex-direction:column;">
             <div class="row">
                <div class="text-section">
                  <label  class="text-label" style="width: 100px;">Sifariş No</label>
                                <input type="text" class="text-input" style="width:100px;" readonly value="@ViewBag.NextOrderNo" />
                            </div>
              <div class="text-section">
                <label asp-for="InvoiceNo" class="text-label" style="width:35px;">Veybil</label>
                <input asp-for="InvoiceNo" type="text" class="text-input" style="width:100px;" />
              </div>
            </div>
             <div class="row">
                                           <!-- Receiver seçimi üçün input -->
                        <div class="text-section">
                            <label style="width:100px;" class="text-label">Klientin Kodu</label>
                            <input class="text-input" list="receiverList" id="receiverInput" style="width:100px;" />
                                <datalist id="receiverList">
                                   
                                </datalist>
                        </div>
                            <!-- Müştəri kodunu göstərən input  -->
                        <div class="text-section">
                            <input type="text" id="clientCode" class="text-input" readonly style="width:100px;" />                            <input asp-for="ReceiverId" type="hidden"  id="receiverId" />

                        </div>
                        <div style="display:none">
                            <input id="priceType" value="" readonly  />
                            <input id="edvType" value="" readonly />
                        </div>
             </div>
                            <div >
                                <label style="width:100px" asp-for="ZengEdeninAdi" class="text-label">Zəng Edənin Adı</label>
                                <input asp-for="ZengEdeninAdi" type="text" class="text-input" style="width:100px;" id="callerName" />
                            </div>
          </div>
        </div>
        <div class="main-colls">
          <div class="left-coll">
            <div class="sender">
              <div class="sender-heading">
                <h2>GÖNDƏRƏN</h2>
              </div>
              <div class="sender-main">
                <div class="text-section" style="width: 300px;">
                  <label  asp-for="ReceiverName" class="text-label" style="width: 100px;">Göndərənin Adı</label>
                  <input asp-for="ReceiverName" type="text" class="text-input" id="senderName">
                </div>
                <div class="text-section" style="width: 300px;">
                  <label asp-for="ReceiverAddress" class="text-label" style="width: 100px;">Ünvanı</label>
                  <input asp-for="ReceiverAddress" type="text" class="text-input" id="senderAdd">
                </div>
                <div class="text-section" style="width: 300px;">
                  <label asp-for="ReceiverPhoneNum" class="text-label" style="width: 100px;">Nömrəsi</label>
                  <input asp-for="ReceiverPhoneNum" type="number" class="text-input" id="senderNum" >
                </div>
                <div>
                                <div class="text-section" style="width: 300px;display:none">
                                    <label  class="text-label" style="width:93px">Zona</label>
                                    <select class="input-select" style="width: 187px;" id="zoneSelect">
                                        <option value="1"></option>
                                        <option value="2"></option>
                                        <option value="3"></option>
                                        <option value="4"></option>
                                        <option value="5"></option>
                                        <option value="6"></option>
                                        <option value="7"></option>

                                    </select>
                                </div>
                                    <div class="text-section" style="width: 300px;">
                                        <label class="text-label" style="width:93px">Zona(Şəhər)</label>

                                    <select class="input-select" style="width: 187px;" id="zoneSelect1">
                                        

                                        <option value="">0-Zona</option>
                                        <option value="1">1-Zona</option>
                                        <option value="2">2-Zona</option>
                                        <option value="3">3-Zona</option>
                                        <option value="4">4-Zona</option>
                                    </select>
                                    </div>

                                        <div class="text-section" style="width: 300px;">
                                        <label  class="text-label" style="width:93px">Zona(Rayon)</label>

                                    <select class="input-select" style="width: 187px; " id="zoneSelect2" >
                                            <option value="">0-Zona</option>

                                        <option value="5">5-Zona</option>
                                    </select>

                                        </div>

                                  <div class="text-section" style="width: 300px;">
                                            <label  class="text-label" style="width:93px">Zona(M.R)</label>

                                        <select class="input-select" style="width: 187px; " id="zoneSelect3" >
                                                <option value="">0-Zona</option>

                                            <option value="6">6-Zona</option>
                                        </select>

                                        </div>

                                            <div class="text-section" style="width: 300px;">
                                        <label class="text-label" style="width:93px">Zona(Xarici)</label>

                                    <select class="input-select" style="width: 187px;" id="zoneSelect4" >
                                         <option value="">0-Zona</option>

                                        <option value="7">7-Zona</option>
                                    </select>
                                        </div>

                </div>
                     </div>
            </div>
            <div>
                <button onclick="transferValues()" type="button" class="opposite-button">ƏKS <span>&#8645;</span></button>
            </div> 
            <!-- SENDER  -->
            <div class="sender">
              <div class="sender-heading">
                <h2>ALAN</h2>
              </div>
              <div class="sender-main">
                <div class="text-section" style="width: 300px;">
                  <label asp-for="SenderName" class="text-label" style="width: 100px;">Göndərənin Adı</label>
                  <input asp-for="SenderName" type="text" class="text-input" id="acceptName">
                </div>
                <div class="text-section" style="width: 300px;">
                  <label asp-for="SenderAddress" class="text-label" style="width: 100px;">Ünvanı</label>
                  <input asp-for="SenderAddress" type="text" class="text-input" id="acceptAdd">
                </div>
                <div class="text-section" style="width: 300px;">
                  <label asp-for="SenderPhoneNum" class="text-label" style="width: 100px;">Nömrəsi</label>
                  <input asp-for="SenderPhoneNum" type="number" class="text-input" id="acceptNum">
                </div>

              </div>
            </div>
          </div>
          <div class="right-coll">
                     
                        <div class="desc-text">
                            <label style="width:100px" class="text-label" for="start-date">Tarix</label>
                                <div class="desc-time">
                                <input style="width:85px" type="date" id="start-date" name="StartDate_Date" class="desc-input-t" />
                                <input style="width:100px" type="time" id="start-time" name="StartDate_Time" class="desc-input-t" />
                                </div>
                        </div>

                        <!-- Gizli input, burada birləşdirilmiş datetime olacaq asp-for="ServiceId" asp-items='new SelectList(ViewBag.Service,"Id","ServiceType")' -->
                        <input asp-for="StartDate" type="hidden" id="StartDate" name="StartDate" />
                      
                        <div class="desc-text">
                            <label asp-for="ServiceId" style="width:100px" class="text-label">Xidmət Növü</label>
                            <select id="serviceType" class="desc-select" asp-for="ServiceId" asp-items='new SelectList(ViewBag.Service,"Id","ServiceType")'>
                            </select>
                        </div>

                           <div class="desc-text">
                                <label style="width:100px" class="text-label" for="from-courier">Kuryer 1</label>
                            <select class="desc-select form-control" asp-for="FromCourierId" asp-items='new SelectList(ViewBag.Courier,"CourierId","DisplayText")' id="from-courier">
                                <option disabled selected>Seçin...</option>
                            </select>
                            </div>

                            <div class="desc-text">
                                <label  style="width:100px"class="text-label" for="to-courier">Kuryer 2</label>

                            <select class="desc-select form-control" asp-for="ToCourierId" asp-items='new SelectList(ViewBag.Courier,"CourierId","DisplayText")' id="to-courier">
                                <option disabled selected>Seçin...</option>
                            </select>
                            </div>

                       


            <div class="desc-text">
           
            </div>

            <div class="desc-text">
              <label style="width:100px" asp-for="OrderPrice" class="text-label">Qiymət</label>
              <input asp-for="OrderPrice" type="text" id="orderPrice" class="desc-input" >
            </div>

            <div class="desc-text">
              <label style="width:100px" asp-for="SpecialPrice" class="text-label">Xüsusi Qiymət</label>
              <input asp-for="SpecialPrice" type="text" id="SpecialPrice" class="desc-input" placeholder="0.00">
            </div>
            <div class="desc-text">
              <label style="width:100px" asp-for="Discount" class="text-label">Güzəşt %</label>
              <input asp-for="Discount" id="discount" type="text" class="desc-input" placeholder="0.00" readonly>
            </div>
            <div class="desc-text">
              <label style="width:100px" class="text-label">Cəmi</label>
              <input type="text" class="desc-input" id="subtotal" readonly>
            </div>
            <div class="desc-text">
              <label style="width:100px" class="text-label">ƏDV (18%)</label>
              <input  type="text" class="desc-input" id="edv" readonly>
            </div>
            <div class="desc-text">
              <label style="width:100px" asp-for="FinalPrice" class="text-label">Yekun</label>
              <input asp-for="FinalPrice" type="text" class="desc-input" id="total" >
            </div>
            <div class="desc-text">
              <label style="width:100px" asp-for="Note" class="text-label">Əlavə Qeyd</label>
              <textarea asp-for="Note" name="" class="desc-text-ar"></textarea>
            </div>
            <div class="btns">
              <button type="submit" class="btn-submit">Qeyd Et Və Çıx</button>
            </div>
          </>
        </div>
        </div>
    </form>
    <div class="back-btn">
      <a asp-controller="Home" asp-action="Index">⬅</a>
    </div>
  </div>


      <script>
          //select bolunmesi
        document.addEventListener('DOMContentLoaded', function () {
            const originalSelect = document.getElementById('zoneSelect');
            const select1 = document.getElementById('zoneSelect1');
            const select2 = document.getElementById('zoneSelect2');
            const select3 = document.getElementById('zoneSelect3');
            const select4 = document.getElementById('zoneSelect4');
            document.getElementById('from-courier').value = '1';
            document.getElementById('to-courier').value = '1';

            // Başlanğıc vəziyyət
            updateSelectsState();

            // Selectlər üçün event listenerlar
            select1.addEventListener('change', function () {
                originalSelect.value = this.value;
                priceCalculation();
                updateSelectsState();
            });

            select2.addEventListener('change', function () {
                originalSelect.value = this.value;
                priceCalculation();
                updateSelectsState();
            });

            select3.addEventListener('change', function () {
                originalSelect.value = this.value;
                priceCalculation();
                updateSelectsState();
            });
            select4.addEventListener('change', function () {
                originalSelect.value = this.value;
                priceCalculation();
                updateSelectsState();
            });

            function updateSelectsState() {
                // Əgər select1-də dəyər seçilibsə (boş deyilsə)
                if (select1.value !== "") {
                    select2.disabled = true;
                    select3.disabled = true;
                    select4.disabled = true;

                    select2.value = "";
                    select3.value = "";
                    select4.value = "";

                }
                // Əgər select2-də dəyər seçilibsə
                else if (select2.value !== "") {
                    select1.disabled = true;
                    select3.disabled = true;
                    select4.disabled = true;

                    select1.value = "";
                    select3.value = "";
                    select4.value = "";

                }
                // Əgər select3-də dəyər seçilibsə
                else if (select3.value !== "") {
                    select1.disabled = true;
                    select2.disabled = true;
                    select4.disabled = true;

                    select1.value = "";
                    select2.value = "";
                    select4.value = "";

                }
                else if (select4.value !== "") {
                    select1.disabled = true;
                    select2.disabled = true;
                    select3.disabled = true;
                    select1.value = "";
                    select2.value = "";
                    select3.value = "";
                }
                // Heç birində dəyər seçilməyibsə
                else {
                    select1.disabled = false;
                    select2.disabled = false;
                    select3.disabled = false;
                    select4.disabled=false;
                }
            }
        });
 //datalistin doldurulmasi(yeni sifarise giren kimi Private gelmesi)
        let receivers = [];

        document.addEventListener("DOMContentLoaded", async () => {
            try {
               
                document.getElementById('receiverInput').value = '0';
                document.getElementById('clientCode').value = 'Private';
                document.getElementById('senderName').value = 'Private';
                priceCalculation();



                const response = await fetch('/Order/ReceiverData');
                if (!response.ok) throw new Error("Şəbəkə xətası!");

                receivers = await response.json();
                

                const datalist = document.getElementById("receiverList");
                datalist.innerHTML = "";

                // Option dəyərlərini: "1 Veysel_MMC" şəklində göstər
                receivers.forEach(receiver => {
                    const option = document.createElement("option");
                    option.value = `${receiver.clientCode} ${receiver.receiverName}`; 
                    option.dataset.clientcode = receiver.clientCode; 
                    option.dataset.receivername = receiver.receiverName; 
                    datalist.appendChild(option);
                });
                priceCalculation();

            } catch (error) {
                console.error("Receiver dataları alınmadı:", error);
            }
        });
        
      //datalistden secilen secime gore inpularin doldurulmasi
        document.getElementById("receiverInput").addEventListener("input", function () {
            const inputVal = this.value;
            const options = document.querySelectorAll("#receiverList option");
            
            for (const option of options) {
                if (option.value === inputVal) {
                    const clientCode = option.dataset.receivername || '';
                    const receiverName = option.dataset.clientcode || '';
                    document.getElementById("clientCode").value = clientCode;
                    document.getElementById("receiverInput").value = receiverName;
                    
                    const matchedReceiver = receivers.find(r =>
                        `${r.clientCode} ${r.receiverName}` === inputVal
                    );

                    if (matchedReceiver) {
                        document.getElementById("senderName").value = matchedReceiver.receiverName;
                        document.getElementById("senderAdd").value = matchedReceiver.receiverAddress;
                        document.getElementById("priceType").value = matchedReceiver.qiymetVar;
                        document.getElementById("edvType").value = matchedReceiver.isEDV;
                        document.getElementById("discount").value = matchedReceiver.receiverDiscount;
                        document.getElementById("receiverId").value = matchedReceiver.id; // <-- BUNU ƏLAVƏ ET
                        priceCalculation();
                    }

                    return;
                }
            }
            // Seçim uygun değilse temizle
            document.getElementById("clientCode").value = "";
            document.getElementById("senderName").value = "";
            document.getElementById("senderAdd").value = "";
            document.getElementById("senderNum").value = ""; 
            document.getElementById("discount").value = ""; 
            document.getElementById("receiverId").value = ""; // <-- bunu da unutma

        });


        
//qiymet hissesi
        //inputlarin teyin olunmasi
            const priceEl = document.getElementById('orderPrice');
            const specialEl = document.getElementById('SpecialPrice');
            const discountEl = document.getElementById('discount');
            const subtotalEl = document.getElementById('subtotal');
            const edvEl = document.getElementById('edv');
            const totalEl = document.getElementById('total');
        function priceCalculation() {
            //kohne-teze qiymet
            const prices = {
                "prices": [
                    { "zoneId": 1, "serviceId": 1, "prices": { "old": 5, "new": 6 } },
                    { "zoneId": 1, "serviceId": 2, "prices": { "old": 4, "new": 5 } },
                    { "zoneId": 1, "serviceId": 3, "prices": { "old": 3, "new": 4 } },
                    { "zoneId": 1, "serviceId": 4, "prices": { "old": 2, "new": 3 } },
                    { "zoneId": 2, "serviceId": 1, "prices": { "old": 8, "new": 10 } },
                    { "zoneId": 2, "serviceId": 2, "prices": { "old": 6, "new": 8 } },
                    { "zoneId": 2, "serviceId": 3, "prices": { "old": 7, "new": 7 } },
                    { "zoneId": 2, "serviceId": 4, "prices": { "old": 6, "new": 6 } },
                    { "zoneId": 3, "serviceId": 1, "prices": { "old": 13, "new": 15 } },
                    { "zoneId": 3, "serviceId": 2, "prices": { "old": 11, "new": 13 } },
                    { "zoneId": 3, "serviceId": 3, "prices": { "old": 8, "new": 11 } },
                    { "zoneId": 3, "serviceId": 4, "prices": { "old": 7, "new": 10 } },
                    { "zoneId": 4, "serviceId": 1, "prices": { "old": 15, "new": 18 } },
                    { "zoneId": 4, "serviceId": 2, "prices": { "old": 12, "new": 14 } },
                    { "zoneId": 4, "serviceId": 3, "prices": { "old": 9, "new": 13 } },
                    { "zoneId": 4, "serviceId": 4, "prices": { "old": 8, "new": 12 } },
                    { "zoneId": 5, "serviceId": 1, "prices": { "old": 0, "new": 0 } },
                    { "zoneId": 5, "serviceId": 2, "prices": { "old": 0, "new": 0 } },
                    { "zoneId": 5, "serviceId": 3, "prices": { "old": 10, "new": 10 } },
                    { "zoneId": 5, "serviceId": 4, "prices": { "old": 8, "new": 8 } },
                    { "zoneId": 6, "serviceId": 1, "prices": { "old": 0, "new": 0 } },
                    { "zoneId": 6, "serviceId": 2, "prices": { "old": 0, "new": 0 } },
                    { "zoneId": 6, "serviceId": 3, "prices": { "old": 16, "new": 16 } },
                    { "zoneId": 6, "serviceId": 4, "prices": { "old": 12, "new": 12 } },
                    { "zoneId": 7, "serviceId": 1, "prices": { "old": 0, "new": 0 } },
                    { "zoneId": 7, "serviceId": 2, "prices": { "old": 0, "new": 0 } },
                    { "zoneId": 7, "serviceId": 3, "prices": { "old": 18, "new": 18 } },
                    { "zoneId": 7, "serviceId": 4, "prices": { "old": 16, "new": 16 } }
                    
                ]
            }
           
            

            const zoneId = parseInt(document.getElementById('zoneSelect').value);
            const serviceId = parseInt(document.getElementById('serviceType').value);
            const priceType = document.getElementById("priceType").value === "true"; // priceType true/false olacaq

            // `prices` içərisindən uyğun qiyməti tapmaq
           const priceObj = prices.prices.find(p => p.zoneId === zoneId && p.serviceId === serviceId);
            console.log(priceObj)
            if (priceObj) {
                // priceType true olduqda yeni qiyməti seçirik, əks halda köhnə qiyməti seçirik
               const selectedPrice = priceType ? priceObj.prices.new : priceObj.prices.old;

               priceEl.value = selectedPrice;
               pricePutter();
           } 
           else {
                priceEl.value = "0.00";

           }

        }
        function pricePutter(){

            //Pricelerin Inputlara Doldurulmasi
            const price = parseFloat(priceEl.value) || 0;
            const special = parseFloat(specialEl.value) || 0;
            const discount = parseFloat(discountEl.value) || 0;

            // Qiymətlərin cəmi
            const sum = price + special;
            subtotalEl.value = sum.toFixed(2);

            // Güzəşt məbləği
            const discountAmount = (sum * discount) / 100;

            // Güzəşt sonrası məbləğ
            const discountedTotal = sum - discountAmount;



            if (document.getElementById("edvType").value == "true") {
                const edv = discountedTotal * 0.18;
                edvEl.value = edv.toFixed(2);
                const total = discountedTotal + edv;
                totalEl.value = total.toFixed(2);

            }
            else {
                edvEl.value = 0;
                totalEl.value = discountedTotal;
            }

        }
        //funksiyalarin isleneceyi yerlere birlesdirilmesi
        document.getElementById('zoneSelect').addEventListener('change', priceCalculation);
        document.getElementById('serviceType').addEventListener('change', priceCalculation);
        [priceEl, specialEl, discountEl].forEach(el =>
            el.addEventListener('input', pricePutter)
        );
          
           //eks duymesi
        

            function transferValues() {
                const senderName = document.getElementById("senderName");
                const senderAdd = document.getElementById("senderAdd");
                const senderNum = document.getElementById("senderNum");

                const acceptName = document.getElementById("acceptName");
                const acceptAdd = document.getElementById("acceptAdd");
                const acceptNum = document.getElementById("acceptNum");

                // Swap values using a temporary variable
                [senderName.value, acceptName.value] = [acceptName.value, senderName.value];
                [senderAdd.value, acceptAdd.value] = [acceptAdd.value, senderAdd.value];
                [senderNum.value, acceptNum.value] = [acceptNum.value, senderNum.value];
            }
            
   //date-hour birlesdiren
        document.getElementById("order-form").addEventListener("submit", function (e) {
            const date = document.getElementById("start-date").value;
            const time = document.getElementById("start-time").value;

            // if (!date) {
            //     alert("Tarixi daxil edin");
            //     e.preventDefault();
            //     return;
            // }

            // if (!time) {
            //     alert("Saatı daxil edin");
            //     e.preventDefault();
            //     return;
            // }

            // Tarix və saatı ISO 8601 formatında birləşdiririk (2025-05-17T14:30)
            const combinedDateTime = date + "T" + time;
            document.getElementById("StartDate").value = combinedDateTime;
        });
        window.addEventListener('DOMContentLoaded', () => {
            const now = new Date();

            // Format date as yyyy-MM-dd
            const date = now.toISOString().split('T')[0];

            // Format time as HH:mm (24-hour format)
            const time = now.toTimeString().slice(0, 5);

            document.getElementById("start-date").value = date;
            document.getElementById("start-time").value = time;
        });

        //enterle diger inputlara kecis sistemi
        // Ordered list of input IDs
        const inputOrder = [
            "InvoiceNo",
            "receiverInput",
            "callerName",
            "senderName",
            "senderAdd",
            "senderNum",
            "acceptName",
            "acceptAdd",
            "acceptNum",
            "orderPrice",
            "SpecialPrice",
            "discount",
            "Note"
            // add the rest of your input IDs here in the order you want
        ];

        // Convert to actual input elements
        const inputs = inputOrder.map(id => document.getElementById(id)).filter(Boolean);

        // Attach keydown listener to each input
        inputs.forEach((input, index) => {
            input.addEventListener("keydown", (e) => {
                if (e.key === "Enter") {
                    e.preventDefault(); 
                    const nextInput = inputs[index + 1];
                    if (nextInput) {
                        nextInput.focus();
                    } else {
                        // Optionally submit form or do nothing
                        // console.log("Form completed or no next input");
                    }
                }
            });
        });

        // kuryerlerin sinxronlasdirilmasi
        document.getElementById("from-courier").addEventListener("change", function () {
            const selectedValue = this.value;
            const toCourier = document.getElementById("to-courier");

            // Set the selected value in the second select
            toCourier.value = selectedValue;
        });
    </script>
</body>
</html>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>


 
