@using YunusExpress_MVC.Models
@model List<Receiver>
@{
    ViewData["Title"] = "Index";
}


<h2>Receivers</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Phone Number</th>
            <th>EDV</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var receiver in Model)
        {
            <tr>
                <td>@receiver.ReceiverName</td>
                <td>@receiver.ReceiverAddress</td>
                <td>@receiver.ReceiverPhoneNum</td>
                <td>
                    @if (receiver.IsEDV ==true)
                    {
                        <p>Var</p>
                    }
                    else
                    {
                        <p>Yoxdu</p>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
