
@{
    ViewData["Title"] = "CourierHomePage";
    Layout = null;
}

<!DOCTYPE html>
<html lang="az">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/assets/style/index.css">
    <link rel="stylesheet" href="~/assets/style/reset.css">
    <link href="~/assets/favicon.ico" rel="icon" />
    <title>Kuryerlərim</title>
</head>

<body>
    <div class="container">
        <div class="main-card">
            <div class="logo-container">

                <h1 class="section-title">Kuryerlərim</h1>
            </div>

            <div class="option-card">
                <h3 class="card-title">Yeni Kuryer Yarat</h3>
                <a asp-controller="Courier" asp-action="Create" class="btn-primary">Keç</a>
            </div>
            <div class="option-card">
                <h3 class="card-title">Kuryerlərin Maaşı</h3>
                <a asp-controller="Courier" asp-action="CourierIndex" class="btn-primary">Keç</a>
            </div>

           
            <a asp-controller="Home" asp-action="Index" class="option-card btn">Əsas Səhifəyə Qayıt</a>
            



        </div>
    </div>
</body>

</html>
